#background-header {
    width: 100%;
    height: 100px;
    background-color: rgb(40, 127, 220);    
    background-image: url(../img/pattern.png);
    background-size: contain;
}

#logo {
    width: 10%;
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.under-title {
    color: gray;
    margin-bottom: 20px;
    font-weight: bolder;
}

#author {
    color: rgb(40, 127, 220);
}

#data {
    font-size: small;
}

.captions {
    font-size: small;
}

#list {
    padding-left: 1%;
}

.table {
    text-align: left
}

.cella {
    width: 25%;
}

.raw-1 {
    color: white;
    background-color: rgb(40, 127, 220);
}

.raw-2 {
background-color: lightskyblue;
}

.high-light {
    background-color: yellow;
}

.ads {
    width: 300px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    margin-bottom: 10px;
}

.ads-2 {
    width: 300px;
    height: 200px;
    background-image: url(../img/graph.jpg);
}

.title-ads {
    color: white;
    font-size: 20px;
    padding-left: 10px;
}